<!--该文件仅包含header部分，包括背景图、遮罩层、目录等-->
<% if (is_home()) { %> 
<header class="panel-cover">
<% } else { %>
<header class="panel-cover panel-cover--collapsed panel-cover--collapsed--origin">

<% } %>

  <div class="panel-main">
    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <% if (theme.logo) { %>
        <a href="/" title="link to homepage for <%= config.title %>"><img src="<%= theme.logo %>" width="80" alt="<%= config.title %> logo" class="panel-cover__logo logo" /></a>
        <% } %>

        <!-- -----------------start首页布局----------------------- -->
        <% if (is_home()) { %>
        <!-- 加入动态文字-->
        <script>
            $(function(){
                //获取浏览器宽度
                var _width = $(window).width();
                if(_width < 768){
                    var $mobile_string=$("#mobile-typed-strings").html();
                    $("#typed-strings").html($mobile_string);
                }
            });
            $(function(){
                $("#typed").typed({
                    // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
                    stringsElement: $('#typed-strings'),
                    typeSpeed: 30,
                    backDelay: 500,
                    loop: true,
                    contentType: 'html', // or text
                    // defaults to false for infinite loop
                    loopCount: false,
                    showCursor: true,
                    // character for cursor
                    cursorChar: "<span class='glyphicon glyphicon-heart' style='color: red'></span>",
                    callback: function(){ foo(); },
                    resetCallback: function() { newTyped(); }
                });

                $(".reset").click(function(){
                    $("#typed").typed('reset');
                });
            });
            function newTyped(){ /* A new typed object */ }
            function foo(){ console.log("Callback"); }

        </script>

        <style>
            /* code for animated blinking cursor */
            .typed-cursor{
                opacity: 1;
                font-weight: 100;
                -webkit-animation: blink 0.7s infinite;
                -moz-animation: blink 0.7s infinite;
                -ms-animation: blink 0.7s infinite;
                -o-animation: blink 0.7s infinite;
                animation: blink 0.7s infinite;
            }
            @keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
            @-webkit-keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
            @-moz-keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
            @-ms-keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
            @-o-keyframes blink{
                0% { opacity:1; }
                50% { opacity:0; }
                100% { opacity:1; }
            }
        </style>
        <div class="inner">
            <!--这是打印的地方-->
            <div id="typed-strings" style="display: none;"><!--这个仅仅是要打印的内容-->
                <p>Who can block you , ^500 others or yourself ?^2000</p>
                <p>if you know where to go ,^500 the whole world will give way to you.^4000</p>
            </div>
            <div id="mobile-typed-strings" style="display: none;"><!--这个仅仅是要打印的内容-->
                <p>Who can block you , ^500 others or yourself ?^2000</p>
                <p>if you know where to go ,<br>^500 the whole world will give way to you.^4000</p>
            </div>
            <div class="sub-heading">
                <span id="typed"  style="white-space:pre"></span>
            </div>
        </div>
        <!--end inner-->

        <div class="wow zoomIn" data-wow-duration="1s" data-wow-offset="100">
            <div class="wow tada" data-wow-delay="1s" data-wow-duration="1s">
                <div class="wow rubberBand" data-wow-delay="2000ms" data-wow-duration="1s">
                    <div class="wow pulse" data-wow-delay="300ms" data-wow-iteration="5" data-wow-duration="2s">
                        <h1 class="panel-cover__title panel-title"><a class="un_decration" href="/" title="link to homepage"><%= config.title %></a></h1>
                    </div>
                </div>
            </div>
        </div>
        <hr class="panel-cover__divider" />

        <% } %>
        <!-- -----------------end 首页---------------------------- -->
        <!-- -----------------start其他页面布局-------------------- -->
        <% if(!is_home()) { %>
        <h1 class="panel-cover__title panel-title"><a class="un_decration" href="/" title="link to homepage"><%= config.title %></a></h1>
        <hr class="panel-cover__divider" />

        <% if (config.subtitle) { %>
        <p class="panel-cover__description">
            <%= config.subtitle %>
        </p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        <% } %>
        <% } %>
        <!-- -----------------end 其他---------------------------- -->

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">

              <% for (var i in theme.menu){ %>
                <%
                  if (theme.menu[i]+'' == '/#blog') {
                    nav_btn_class = 'blog-button';
                  } else {
                    nav_btn_class = '';
                  }
                %>
                <% if(is_home()){ %>
                    <li class="navigation__item" >
                <% }else{ %>
                    <li class="navigation__item not_home_li" >
                <% } %>
                    <a href="<%- theme.menu[i] %>" title="" class="<%= nav_btn_class %>"><%= i %></a>
                </li>
              <% } %>

                <% if(!is_home()){ %>
                <li class="navigation__item not_home_li" >
                    <span>
                        <a class="github" target="_blank" href="https://github.com/whbing" title="github"><i class="fa fa-github-square fa-lg"></i></a>
                    </span>
                    <span>
                        <a class="weibo" target="_blank" href="http://weibo.com/wanghongbing0704" title="weibo"><i class="fa fa-weibo fa-lg"></i></a>
                    </span>
                </li>
                <% } %>
            </ul>
          </nav>

          <%- partial('_partials/social') %>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>

</header>
<!--如果不是home，加一个side的复制层-->
<% if (!is_home()) { %>
    <div class="panel-cover--collapsed panel-cover--collapsed--copy"></div>
<% } %>